.selecty-select {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #d9d6d4;
  background: transparent;
  height: 36px;
  line-height: 36px;
  text-align: left;
  font-size: 16px;
  color: #1b1919;
  border-radius: 0;
  position: relative;
  outline: 0 none;
}

.selecty-select[disabled] {
  cursor: not-allowed;
  color: #8d8480;
  border-bottom: 1px dashed #d9d6d4;
}

.selecty-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px dashed #8d8480;
}

.selecty {
  width: 100%;
  position: relative;
  font-size: 16px;
  color: #1b1919;
}

.selecty.disabled .selecty-selected {
  border-bottom: 1px dashed #d9d6d4;
  cursor: not-allowed;
  color: #7f0000;
}

.selecty .selecty-selected {
  display: block;
  border: none;
  border-bottom: 1px solid #d9d6d4;
  width: 100%;
  cursor: pointer;
  background: none;
  outline: none !important;
  height: 36px;
  line-height: 36px;
  text-align: left;
  font-size: 16px;
  color: #1b1919;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selecty .selecty-selected:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px dashed #8d8480;
  margin-top: -2px;
  right: 16px;
}

.selecty .selecty-selected:hover, .selecty .selecty-selected:active, .selecty .selecty-selected:focus {
  text-decoration: none;
  background: none;
}

.selecty .selecty-options {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  margin: 0;
  max-height: 650px;
  width: 100%;
  overflow-y: auto;
  z-index: 999;
  border-radius: 2px;
  padding: 8px 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1), -o-transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.45s cubic-bezier(0.23, 1, 0.32, 1), -o-transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  visibility: hidden;
}

.selecty .selecty-options.active {
  visibility: visible;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
}

.selecty .selecty-options li {
  cursor: pointer;
  text-align: left;
  padding: 0 24px;
  height: 48px;
  line-height: 48px;
}

.selecty .selecty-options li:hover, .selecty .selecty-options li.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.selecty .selecty-options li > span > label {
  top: 1px;
  left: 3px;
  height: 18px;
}

.selecty .selecty-options li.selected {
  color: white;
  background-color:#7f0000;
}

.selecty .selecty-options li.disabled {
  color: #8d8480;
  cursor: default;
}

.selecty .selecty-options li.disabled:hover {
  background: none;
}

.selecty .selecty-options li.optgroup {
  cursor: default;
  color: #8d8480;
  height: 32px;
  line-height: 32px;
}

.selecty .selecty-options li.optgroup:hover {
  background: none;
}

.selecty .selecty-options li.optgroup-option {
  padding-left: 40px;
}
